[*.fs]
indent_size = 4
max_line_length = 80 

fsharp_max_line_length = 80
fsharp_indent_size = 4
fsharp_multiline_block_brackets_on_same_column = true
fsharp_newline_before_multiline_computation_expression = true
fsharp_max_if_then_else_short_width = 55
fsharp_max_value_binding_width = 70
fsharp_multiline_block_brackets_on_same_column = true
fsharp_align_function_signature_to_indentation = false
fsharp_semicolon_at_end_of_line = true
